:root{
    --main-color-light: #a3b18a;
    --main-color-dark: #3a5a40;
    --font-color: #000;
}

html,
body{
    font-family: 'Inter', 'Courier New', 'Serif', serif;
    font-weight: normal;
    color: var(--font-color);
    margin: 0;
    padding: 0;
    background-color: #fff;
}

button, select, input{
    box-sizing: border-box;
    background-color: #fff;
    outline: none;
    border: none;
    box-shadow: 0 0 2px #000;
    padding: 10px 15px;
    margin-left: 4px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    transition: .15s all ease-in-out;
}

button{
    padding: 10px 20px;
    width: 100%;
}

button:hover, select:hover, input:hover{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 50px;
    border-radius: 4px;
}

form > div{
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

form input, form select{
    width: 150px;
    margin-left: 10px;
}

form input[type=submit]{
    width: 100%;
    margin: 0;
}

.centered{
    margin: auto;
    text-align: center;
}

.filed{
    width: 200px;
    margin: 10px auto;
}

.full-screen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s all ease-in-out;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
}

.hidden{
    pointer-events: none;
    opacity: 0;
    transform: translateY(-100%);
}

.error{

}